
.dashboardHeader {
    display: flex;
    margin-bottom: 40px;
}

.dashboardIcon {
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #FFFFCC;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    border-top-left-radius: 0;
}

.dashboardLinks {
    /*display: table-cell;*/
    /*vertical-align: bottom;*/
    display: inline;
}

.dashboardContainer {
    background-color: #E4E4E4;
    /*box-shadow: 0px 0px 10px 3px grey;*/
    box-shadow: 3px 3px 5px grey;
    padding: 20px;
    margin: 20px;
    width: 28vw;
    min-width: 400px;
    max-width: 500px;
    height: 300px;
}

.dashboardContainer:hover {
    cursor: pointer;
}

.dashboardWrapper {
    display: flex;
    flex-wrap: wrap;
}
