body {
    background: #3F2698;
    font: 14px 'trebuchet ms', arial, sans-serif;
}

#header {
    height: 60px;
    width:100%;
    left: 0px;
    top: 0px;
    position : fixed;
    background: #21292B;
    border-bottom: 4px solid #FFBE00;
}

#title {
    margin-top: 0px;
    margin-bottom: 0px;
}

#title a {
    color: #fff;
    background: #FFBE00;
    padding: 4px 15px;
    text-decoration: none;
    font-size: 151px;
    font-weight: bolder;
}

#content {
    background: #fff;
    position: absolute;
    width: 80%;
    top:60px;
    padding: 20px;
}

#footer {
    background: #21292B;
    height: 30px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    color: #FFBE00;
    width:100%
}

#header a {
    color: #000;
    background: #FFBE00;
    padding: 4px 15px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
}

#header a:hover {
    background: #FFBE00;
    color: #fff;
}

form {
    font: 100% verdana, arial, sans-serif;
}

form label {
    display: block;
    float: left;
    width: 150px;
    padding: 0;
    margin: 9px 0 0;
    text-align: right;
}

form input, form select {
    width: auto;
    margin: 5px 0 0 10px;
    border: 1px solid gray;
    padding: 4px;
}

form input[type=submit]:hover {
    cursor: pointer;
    background: silver;
}

form br {
    clear: left;
}