body {
    background: silver;
    font: 14px 'trebuchet ms', arial, sans-serif;
}

#header {
    padding: 20px;
    background: #12407f;
/ / rosybrown;
/ / gold;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 4px solid #436fac;
}

#title {
    margin-top: 0;
    margin-bottom: 0;
}

#title a {
    color: #fff;
    background: red;
    padding: 4px 15px;
    text-decoration: none;
    font-size: 151px;
    font-weight: bolder;
}

#content {
    background: #fff;
    padding: 20px;
}

#footer {
    background: #12407f;
/ / steelblue;
/ / green;
    color: #fff;
    padding: 20px;
    border-top: 4px solid #436fac;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#header a {
    color: #fff;
    background: #436fac;
    padding: 4px 15px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
}

#header a:hover {
    background: #4d8add
}

.h3 {
    font-size: 20px;
}

form {
    font: 100% verdana, arial, sans-serif;
}

form label {
    display: block;
    float: left;
    width: 150px;
    padding: 0;
    margin: 9px 0 0;
    text-align: right;
}

form input, form select {
    width: auto;
    margin: 5px 0 0 10px;
    border: 1px solid gray;
    padding: 4px;
}

form input[type=submit]:hover {
    cursor: pointer;
    background: silver;
}

form br {
    clear: left;
}

#listInserts {
    display: inline-block;
}

.content {
    vertical-align: top;
    margin-bottom: 2px;
    width: 600px;
    height: auto;
}

.contentContainer {
    float: left;
    margin-left: 20px;
}

#buttons {
    text-align: right;
}

.status {
    display: none;
}


/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
body {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}