*{
    padding: 0;
    margin: 0;
}
body {
    background: #3F2690;
    font: 14px 'trebuchet ms', arial, sans-serif;
    text-align: center;
}
ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
/*Eventpages*/
.container{
    width: 100%;
    padding-top: 58px;
}
/*head*/
#headerSearch{
    width: 100%;
    height: 30vh;
    background-size: cover;
}
#headerFood{
    width: 100%;
    height: 30vh;
    background-image: url('/inhollandgang/temp/uploads/foodheader.png');
    background-size: cover;
}
.titel{
    font-size: 600%;
    font-family: Moonlightning;
    color: white;
}
.ondertitel{
    font-size: 200%;
    font-family: Moonlightning;
    color: white;
}
#headerdance{
    width: 100%;
    height: 25vh;
    background-image: url("/temp/uploads/DanceHeaderImage.jpg");
}

#search{
    width: 100%;
    height: 2vh;
    text-align: left;
    background-size: cover;
}
/*middle*/
article{
    width: 100%;
    height: 22vh;
    text-align: left;
    background-size: cover;
}
hr{
    border-top: 3px solid #FFBE00;
    margin-right: 70%;
}
section{
    height: 15vh;
    background-color: white;
}

/* moet nog food images uploaden */
#mrmrs{
    background-image: url("/inhollandgang/temp/uploads/mr&mrs.png");
}
#ratatouille{
    background-image: url("/inhollandgang/temp/uploads/ratatouille.png");
}
#goldenbull{
    background-image: url("/inhollandgang/temp/uploads/goldenbull.png");
}
#fris{
    background-image: url("/inhollandgang/temp/uploads/fris.png");
}
#urban{
    background-image: url("/inhollandgang/temp/uploads/urbanImage.png");
}
#ML{
    background-image: url("/inhollandgang/temp/uploads/ML.png");
}
#specktakel{
    background-image: url("/inhollandgang/temp/uploads/specktakel.png");
}
#brinkman{
    background-image: url("/inhollandgang/temp/uploads/brinkman.png");
}
article p, article h2, article hr{
    margin-left: 3%;
    font-size: 300%;
    font-family: Roboto;
}
article p{
    font-size: 100%;
    width: 40%;
}
section h2{
    font-size: 350%;
    font-family: Roboto;
}
section p{
    font-size: 100%;
    font-family: Roboto;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.navigationbuttons{
    height: 15vh;
    background-color: white;
}
.gototicketpage{
    background-color: #FFBE00;
    padding: 15px 50px 15px 50px;
    border-radius: 10px;
    border: none;
    margin-right: 4%;
    margin-top: 2%;
    font-family: Moonlightning;
    font-size: 150%;
    font-weight: bold;
}
.gotoprogrammpage{
    background-color: #FFBE00;
    padding: 15px 40px 15px 40px;
    border-radius: 10px;
    border: none;
    margin-left: 4%;
    margin-top: 2%;
    font-family: Moonlightning;
    font-size: 150%;
    font-weight: bold;
}

/*navigationbar*/
nav{
    display: flex;
    justify-content: center;
}
#header {
    width:100%;
    background-color: black;
    position: fixed;
    z-index: 1;
}
#header a {
    color: #FFBE00;
    padding: 4px 15px;
    text-decoration: none;
    font-weight: 700;
}
#header a:hover {
    color: white;

}
#homebutton{
    margin-left: 5%;
    margin-right: 5%;
    font-family: Moonlightning;
    font-size: 300%;
}
#menu li{
    margin-left: 2%;
    margin-right: 2%;
    font-family: Roboto;
    font-size: 150%;
    margin-top: 15px;
}
#footer {
    background: #21292B;
    height: 15vh;
    width: 100%;
    color: #FFBE00;
}
#smallmenu{
    margin-left: 5%;
}
#unfoldmenu{
    position: absolute;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    display: none;
    z-index: 1;
}