*{
    padding: 0;
    margin: 0;
}
body {
    background: white;
    font: 14px 'trebuchet ms', arial, sans-serif;
    text-align: center;
}
ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
/*Eventpages*/
.container{
    width: 100%;
    padding-top: 20px;
}
/*head*/

#headerjazz{
    width: 100%;
    height: 30vh;
    background-image: url("/inhollandgang/temp/uploads/JazzHeaderImage.jpg");
    background-size: cover;
}
.titel{
    font-size: 600%;
    font-family: Moonlightning;
    color: white;
}
.ondertitel{
    font-size: 200%;
    font-family: Moonlightning;
    color: white;
}
#headerdance{
    width: 100%;
    height: 25vh;
    background-image: url("/inhollandgang/temp/uploads/DanceHeaderImage.jpg");
}
/*middle*/
article{
    width: 100%;
    height: 22vh;
    text-align: left;
    background-size: cover;
}
hr{
    border-top: 3px solid #FFBE00;
    margin-right: 70%;
}
section{
    height: 15vh;
    background-color: white;
}
#mainhall{
    background-image: url("/inhollandgang/temp/uploads/EventJazzMainHal.png");
}
#secondhall{
    background-image: url("/inhollandgang/temp/uploads/EventJazzSecondHall.png");
}
#thirdhall{
    background-image: url("/inhollandgang/temp/uploads/EventJazzThirdHall.png");
}
#grotemarkt{
    background-image: url("/inhollandgang/temp/uploads/EventJazzGrotenMarkt.png");
}
#lineup{
    background-image: url("/inhollandgang/temp/uploads/EventJazzMainHal.png");
}
#venues{
    background-image: url("/inhollandgang/temp/uploads/EventJazzSecondHall.png");
}
article p, article h2, article hr{
    margin-left: 3%;
    font-size: 300%;
    font-family: Roboto;
}
article p{
    font-size: 100%;
    width: 40%;
}
section h2{
    font-size: 350%;
    font-family: Roboto;
}
section p{
    font-size: 100%;
    font-family: Roboto;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.navigationbuttons{
    height: 15vh;
    background-color: white;
}
.gototicketpage{
    background-color: #FFBE00;
    padding: 15px 50px 15px 50px;
    border-radius: 10px;
    border: none;
    margin-right: 4%;
    margin-top: 2%;
    font-family: Moonlightning;
    font-size: 150%;
    font-weight: bold;
}
.gotoprogrammpage{
    background-color: #FFBE00;
    padding: 15px 40px 15px 40px;
    border-radius: 10px;
    border: none;
    margin-left: 4%;
    margin-top: 2%;
    font-family: Moonlightning;
    font-size: 150%;
    font-weight: bold;
}

/*navigationbar*/
nav{
    display: flex;
    justify-content: center;
}
#header {
    width:100%;
    background-color: black;
    position: fixed;
    z-index: 1;
}
#header a {
    color: #FFBE00;
    padding: 4px 15px;
    text-decoration: none;
    font-weight: 700;
}
#header a:hover {
    color: white;

}
#homebutton{
    margin-left: 5%;
    margin-right: 5%;
    font-family: Moonlightning;
    font-size: 300%;
}
#menu li{
    margin-left: 2%;
    margin-right: 2%;
    font-family: Roboto;
    font-size: 150%;
    margin-top: 15px;
}
#footer {
    background: #21292B;
    height: 15vh;
    width: 100%;
    color: #FFBE00;
}
#smallmenu{
    margin-left: 5%;
}
#unfoldmenu{
    position: absolute;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    display: none;
    z-index: 1;
}

/*shoppingcart*/
td{
    padding: 5px;
    background-color: #FFDB7D;
    border-bottom: 4px solid #F2F2F2;
    text-align: left;
}
table{
    background-color: #FFDB7D;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#shoppingcartcontainer{
    background-color: #F2F2F2;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 5px 3px grey;
    border-radius: 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.min{
    width: 20%;
    margin-right: 10px;
}
.plus{
    width: 20%;
    margin-left: 10px;
}
#confirmform{
    display: flex;
}
#top{
    display: flex;
}
.labels{
    display: flex;
    flex-direction: column;
}
.outputs{
    display: flex;
    flex-direction: column;
}