*{
    padding: 0;
    margin: 0;
}
body {
    background: white;
    font: 14px 'trebuchet ms', arial, sans-serif;
    text-align: center;
}
ul{
    display: flex;
    justify-content: center;
    list-style: none;
}


/*Eventpages*/
.container{
    width: 100%;
    padding-top: 20px;
}
/*head*/

#headerjazz{
    width: 100%;
    height: 30vh;
    background-image: url("../interface/images/JazzHeaderImage.jpg");
    background-size: cover;
}
.titel{
    font-size: 600%;
    font-family: Moonlightning;
    color: white;
}
.ondertitel{
    font-size: 200%;
    font-family: Moonlightning;
    color: white;
}
#headerdance{
    width: 100%;
    height: 25vh;
    background-image: url("../interface/images/DanceHeaderImage.jpg");
}
/*middle*/
article{
    width: 100%;
    height: 22vh;
    text-align: left;
    background-size: cover;
}
hr{
    border-top: 3px solid #FFBE00;
    margin-right: 70%;
}
section{
    height: 15vh;
    background-color: white;
}
#mainhall{
    background-image: url("../interface/images/EventJazzMainHal.png");
}
#secondhall{
    background-image: url("../interface/images/EventJazzSecondHall.png");
}
#thirdhall{
    background-image: url("../interface/images/EventJazzThirdHall.png");
}
#grotemarkt{
    background-image: url("../interface/images/EventJazzGrotenMarkt.png");
}
#lineup{
    background-image: url("../interface/images/EventJazzMainHal.png");
}
#venues{
    background-image: url("../interface/images/EventJazzSecondHall.png");
}
article p, article h2, article hr{
    margin-left: 3%;
    font-size: 300%;
    font-family: Roboto;
}
article p{
    font-size: 100%;
    width: 40%;
}
section h2{
    font-size: 350%;
    font-family: Roboto;
}
section p{
    font-size: 100%;
    font-family: Roboto;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.navigationbuttons{
    height: 15vh;
    background-color: white;
    width: 100%;
    display: flex;
}
#forms{
    display: flex;
    margin: auto;
}
.gototicketpage{
    background-color: #FFBE00;
    padding: 15px 50px 15px 50px;
    border-radius: 10px;
    border: none;
    margin-right: 4%;
    margin-top: 2%;
    font-family: Moonlightning;
    font-size: 150%;
    font-weight: bold;
}
.gotoprogrammpage{
    background-color: #FFBE00;
    padding: 15px 40px 15px 40px;
    border-radius: 10px;
    border: none;
    margin-left: 4%;
    margin-top: 2%;
    font-family: Moonlightning;
    font-size: 150%;
    font-weight: bold;
}




/*navigationbar*/
nav{
    display: flex;
    justify-content: center;
}
#header {
    width:100%;
    background-color: black;
    position: fixed;
    z-index: 1;
}
#header a {
    color: #FFBE00;
    padding: 4px 15px;
    text-decoration: none;
    font-weight: 700;
}
#header a:hover {
    color: white;

}
#homebutton{
    margin-left: 5%;
    margin-right: 5%;
    font-family: Moonlightning;
    font-size: 300%;
}

.dropbtn {
    color: #FFBE00;
    background: black;
    border:none;
    padding: 0;
    text-after-overflow: center;
    text-decoration: none;
    font-size: 35px;
    font-weight: bolder;
    text-align: justify;
    height:60px;
}

.dropdown {
    position: relative;
    display: inline-block;
    border:none;
    padding: 2px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    z-index: 1;
    border:none;
    color: white;
}

.dropdown-content a {
    color: #21292B;
    padding: 10px 10px;
    display: block;
    border:none;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #FFBE00;
    color: white;
}




/*shoppingcart*/
td{
    padding: 5px;
    background-color: #FFDB7D;
    border-bottom: 4px solid #F2F2F2;
    text-align: left;
}
table{
    background-color: #FFDB7D;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#shoppingcartcontainer{
    background-color: #F2F2F2;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 5px 3px grey;
    border-radius: 20px;
    margin-top: 10vh;
    margin-bottom: 5vh;
}
.min{
    width: 20%;
    margin-right: 10px;
}
.plus{
    width: 20%;
    margin-left: 10px;
}
#gotopayment{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#giftcard{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
}
#giftcard input{
    width: 50%;
    margin-top: 10px;
}
#giftcard label{
    margin-top: 40px;
    font-family: Roboto;
}
#confirmform {
    text-align: left;
    width: 50%;
}
#top, #bottom{
    display: flex;
    margin-top: 10px;

}
.labels{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.outputs{
    display: flex;
    flex-direction: column;
    text-align: right;
}
#topbottom{
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}
#tabletable{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
#gottopayment-btn{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #FFBE00;
    padding: 15px 40px 15px 40px;
    border-radius: 10px;
    border: none;
    font-family: Moonlightning;
    font-size: 150%;
    font-weight: bold;
}
#shoppingcarttitle{
    font-size: 200%;
    font-family: Moonlightning;
    margin-bottom: 20px;
}


/*indexpage*/
#indextop{
    background-image: url("../interface/images/EventJazzGrotenMarkt.png");
    background-size: cover;
    width: 100%;
    height: 25vh;
}



#footer {
     background: #21292B;
     height: 15vh;
     width: 100%;
     color: #FFBE00;
 }