body
{
    font-family: Roboto;
    background-color: #FFFFFF;
    margin: 0;
}
#indexpage
{
    margin: 50px;
    padding: 0;
}
.navigation
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70px;
    background-color: black;
}
.navigation #social
{
    list-style-type: none;
}
.navigation #social a:hover
{
    -webkit-filter: brightness(0) invert(1);
}

.navigation #home
{
    display: inline;
    color: #FFBE00;
    font-family: Moonlightning;
    font-size: 40pt;
    text-decoration: none;
    margin-left: 15px;
    height: 100%;
}
.navigation #home:hover
{
    color: white;
}
.navigation #menu
{
    display: inline-flex ;
    font-size: 20pt;
    list-style-type: none;
    margin: 0;

}
.navigation #logina
{
    display: inline;
    float: right;
    color: #FFBE00;
    font-size: 20pt;
    text-decoration: none;
    margin-right: 50px;
    height: 100%;
}
.navigation #logina:hover
{
    color: white;
}
.navigation li
{
    float: left;
}
.navigation li a
{
    display: block;
    color: #FFBE00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
.navigation li a img
{

}
.navigation li a:hover
{
    color: white;
}
.headertickets
{
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
}
.headertickets img
{
    width: 100%;
}
.headertickets h1
{
    font-family: Moonlightning;
    font-size: 60pt;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navigationTickets
{
    position: relative;
    display: table;
    margin: auto;
    margin-top: 30px;
}
.navigationTickets ul
{
    margin: 10px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}
.navigationTickets li
{
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}
.navigationTickets li a
{
    position: relative;
    display: block;
}
.navigationTickets p
{
    color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25pt;
    font-family: Moonlightning;
}

.ticketcontainer
{
    position: relative;
    height: 300px;
    width: 200px;
    margin: 10px;
    padding: 0;

}
.block
{
    display: block;
    background-color: black;
    opacity: 0.6;
    width: 180px;
    height: 280px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.ticketcontainer2
{
    text-align: center;
    color: white;
    position: relative;
    height: 120px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;

}
.block2
{
    display: block;
    background-color: black;
    opacity: 0.6;
    width: 480px;
    height: 100px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.ticketImg
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
}
.ticketForm{
    color: white;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Roboto;

}
.ticketForm input[type=submit]
{
    border: none;
    text-decoration: none;
    background-color: #FFBE00;
    font-family: Moonlightning;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}
.ticketForm input[type=text]
{
    border: none;
    text-decoration: none;
    font-family: Roboto;
    border-radius: 5px;
    text-align: center;
}
.tickets{
    margin: auto;
}
.day
{
    margin: 0 auto;
    width: 20%;
    font-family: Moonlightning;
    font-size: 30pt;

}
.day h1
{
    text-align: center;
    border-bottom: 3px solid #FFBE00;
    padding-bottom: 5px;
}
#login
{
    padding: 0px;
    border-radius: 10px;
    display: block;
    background-color: #f0f0f0;
    margin: auto;
    width: 20%;
    text-align: left;
}
#loginarticle
{
    width: 90%;
    margin: auto;
    padding-bottom: 5px;
}
#loginarticle h1
{
    color: #FFBE00;
    font-size: 20pt;
}
.loginform
{
    text-align: left;
}
.loginform input
{
    width: 100%;
    margin-top: 3px;
    margin-bottom: 7px;
    padding: 3px;
    font-size: 12pt;

}
.loginform input[type=submit]
{
    position: inherit;
    display: block;
    background-color: #FFBE00;
    border: none;
    border-radius: 10px;
    width: 48%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 20pt;
    font-family: Moonlightning;
    box-shadow: 3px 3px 5px #878787;

}
#titlehf{
    text-align: center;
    background-color: black;
    font-size: 20pt;
    font-family: Moonlightning;
    color: #FFBE00;
}
footer
{
    background-color: lightgray;
    width: 100%;
    bottom: 0;
}